.logo-results{
    font-size: 4rem !important;
}
.github{
    font-size: 3rem;
}
.search{
    font-size: 1.5rem;
}
.logo-text{
    text-align: left;
}
.header-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2rem;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.back{
    font-size: 2rem;
    margin-top: auto;
    color: lightgray;
}
.back:hover, .header-logo:hover{
    cursor: pointer;
}